.view-jobs {
  margin-top: 150px;
  margin-left: 100px;
}

.view-jobs a{
  text-decoration: none;
  color: black;
}

h1{
    color: #17a2b8;
}

.job-item {
  width: 750px;
  height: 170px;
  border: 2px solid #17a2b8;
  -webkit-box-shadow: 4px 7px 13px 3px #acb0b1;
  box-shadow: 4px 7px 13px 3px #acb0b1;
  margin-bottom: 25px;
}

.job-detail {
  margin: 15px;
}


