.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px #17a2b8;
   
    height: 50px;
    background-color: #17a2b8;
    color: white;
    
}

.navbar li {
    display: inline;
    margin: 105px
  }

  .navbar a{
      color: white;
      text-decoration: none;
  }